/*------------------------Toàn bộ website----------------------------*/
body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 244, 247)
}

header, footer {
    padding: 1.5%;
    margin-bottom: 10px;
}

main {
    background-color: white;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 1px 0 rgba(var(--cui-elevation-base-color,60,75,100),.14),0 2px 1px -1px 
        rgba(var(--cui-elevation-base-color,60,75,100),.12),0 1px 3px 0 rgba(var(--cui-elevation-base-color,60,75,100),.2);
}

/*---------------CSS riêng cho biểu đồ tròn-------------------*/
#chartCircle {
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}